<!DOCTYPE html>
<html>
<head>
    <title>template</title>
</head>
<body bgcolor="#333333">
<table align='center' width="1000" bgcolor="#333333" >
{% for mess in message %} 
    <tr>
        <td>
            <table align='center' bgcolor="#ffffff" >
                <tr>
                    <td align='left' width="333" >
                        留言編號：{{mess.message_Id}}  
                    </td>
                    <td align='left' width="333">
                        留言者：{{mess.message_Name}}
                    </td>
                    <td align='right' width="333">
                        [日期：{{mess.message_Time}}]
                    </td>
                </tr>
                <tr>   
                    <td colspan="2" align="left">
                        {{mess.message_Text}}
                    </td>
                    <td align="right">
                    <form action="/remessage/add" method="POST" >
                    <input type="hidden" name="id" value="{{mess.message_Id}}">
                    <input type='submit' value='回覆留言'>
                    </form>
                    </td>
                </tr>
            </table>
            <table width="800" align="center" bgcolor="#ffffff">
    {% for remess in remessage %}
        {% if remess.M_ID == mess.message_Id %}
                    <tr>
                        <td align="left" width="400">
                            回覆姓名：{{remess.remessage_Name}}
                        </td>
                        <td align="right" width="400">
                            [日期：{{remess.remessage_Time}}]
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="400">
                            {{remess.remessage_Text}}
                        </td>
                        <td align="right" width="400">
                            <form action="/remessage/dodel" method="POST" >
                                <input type="hidden" name="id" value="{{remess.remessage_Id}}">
                                <input type='submit' value='刪除回覆'>
                            </form>
                            <form action="/remessage/mod" method="POST" >
                                <input type="hidden" name="id" value="{{remess.remessage_Id}}">
                                <input type='submit' value='修改回覆'>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <hr>    
                        </td>
                    </tr>   
        {% endif %}           
    {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
{% endfor %}
    <tr>
        <td align="center">
            <a href="/message/add" style="color:white;">新增留言</a>
            <a href="/message/del" style="color:white;">刪除留言</a>
            <a href="/message/mod" style="color:white;">修改留言</a>
        </td>
    </tr>
</table>  
</body>
</html>