<!DOCTYPE html>
<html>
<head>
	<title>delete message</title>
</head>
<body bgcolor="333333">
<table align='center' width="1000" bgcolor="#ffffff" >
{% for mess in message %}
    <tr>
        <td>
            <table align='center' bgcolor="ffffff" >
                <tr>
                    <td align='left' width='500'>
                        留言編號：{{ mess.message_Id }}
                    </td>
                    <td align='left' width='500'>
                        內容：{{ mess.message_Text }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
{% endfor %}
    <tr>
        <td align="center">
            <table align='center' width='500' bgcolor='#ffffff' >
                <form action='/message/dodel' method='POST' >
                <tr>
                    <td align='center'>
                        輸入欲刪除之留言編號：<input type='text' name='{{ del }}' >
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type='submit' value='送出'>
                    </td>
                </tr>
                </form>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
             <a href="/">回首頁</a>
        </td>    
    </tr>
</table>  
</body>
</html>