<!DOCTYPE html>
<html>
<head>
	<title>template</title>
</head>
<body bgcolor="#333333">
    <table align='center' width="500" bgcolor="#ffffff" >
        <form action="../controller/douptmessagecontroller.php" method="POST" >
            <tr>
                <td align="center">
                    留言編號：{{message.message_Id}}                
                </td>
                <td align="center">
                    留言時間：{{message.message_Time}}
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    姓名：<input type='text' name='{{name}}' 
                    value ='{{message.message_Name}}' >
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    內容：<br />
                     <textarea cols="30" rows="3" name='{{text}}'>{{message.message_Text}}</textarea>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type='hidden' name='{{id}}' 
                    value ='{{message.message_Id}}'> 
                    <input type='submit' value='送出'>
                </td>
            <tr>
            </tr>
                <td align="center" colspan="2">
                    <a href="../controller/controller.php">回首頁</a>
                </td>
            </tr>
        </form>
    </table>
</body>
</html>