<!DOCTYPE html>
<html>
<head>
	<title>template</title>
</head>
<body bgcolor="#333333">
<table align='center' width="1000" bgcolor="#ffffff" >
{% for show in message %}
    <tr>
        <td>
            <table align='center' bgcolor="#ffffff" >
                <tr>
                    <td align='left' width="333" >
                        留言編號：{{show.message_Id}}	
                    </td>
                    <td align='left' width="333">
                        姓名：{{show.message_Name}}
                    </td>
                    <td align='left' width="333">
                        內容：{{show.message_Text}}
                    </td>
                </tr>
                <tr>
                <tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <br />
        </td>
    </tr>
{% endfor %}
    <tr>
        <td align="center">
            <table align='center' width="500" bgcolor="#ffffff" >
                <form action="../controller/moduptmessagecontroller.php" method="POST" >
                <tr>
                    <td align="center">
                        輸入欲修改之留言編號：<input type='text' name='{{id}}' >
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type='submit' value='送出'>
                    </td>
                </tr>
                </form>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
             <a href="../controller/controller.php">回首頁</a>
        </td>    
    </tr>
</table>  
</body>
</html>